---
name: home.featured
url: /featured
animationIn: fadeIn
---

<div class="grid-block">
	<div class="grid-content medium-4">
		<p><img class="thumbnail" src="assets/img/1.jpg"></p>
	</div>
	<div class="grid-content medium-8">
		<h4 class="subheader" style="display:inline-block"><strong>3429 N Sheridan</strong></h4>
		<h5 class="float-right"><strong>$537,000</strong></h5>
    	<p>Fantastic 2 bed + den 2 bath unit at 2930 Sheridan. Unit features hardwood floors throughout. Kitchen has granite counters with stainless appliances. Washer dryer in unit.</p>
	</div>
</div>

<div class="grid-block">
	<div class="grid-content medium-4">
		<p><img class="thumbnail" src="assets/img/2.jpg"></p>
	</div>
	<div class="grid-content medium-8">
		<h4 class="subheader" style="display:inline-block"><strong>10 East Ontario Street</strong></h4>
		<h5 class="float-right"><strong>$843,000</strong></h5>
    	<p>Stunning huge bright south east corner split floor plan unit in popular Old Town! Walking distance to Target, Jewel, New City Center Development, and the heart of Old Town and its nightlife!</p>
	</div>
</div>

<div class="grid-block">
	<div class="grid-content medium-4">
		<p><img class="thumbnail" src="assets/img/3.jpg"></p>
	</div>
	<div class="grid-content medium-8">
		<h4 class="subheader" style="display:inline-block"><strong>175 East Delaware</strong></h4>
		<h5 class="float-right"><strong>$243,000</strong></h5>
    	<p>Beautifully renovated 91st flr split 2 BR, 2.5 bath condo w/11.5 ft ceilings & panoramic south vws of the lake + skyline. Maple flrs. Motorized shades. Recessed lighting.</p>
	</div>
</div>

<div class="grid-block">
	<div class="grid-content medium-4">
		<p><img class="thumbnail" src="assets/img/4.jpg"></p>
	</div>
	<div class="grid-content medium-8">
		<h4 class="subheader" style="display:inline-block"><strong>350 West Belden</strong></h4>
		<h5 class="float-right"><strong>$553,000</strong></h5>
   		<p>Incredible price for this upgraded Lincoln Park one bedroom at the Belden Center, a boutique elevator building converted by Belgravia.</p>
	</div>
</div>
