---
name: myfavorites
url: /myfavorites
animationIn: fadeIn
---

<div class="grid-block">
	<div class="grid-content">
		<h1 style="display:block;">My Favorites </h1>
		<hr>
		<br>		
	</div>
</div>
	<div class="grid-block">
	<div class="grid-content medium-6">
		<div class="card secondary" style="background:#FFE8E9" ui-sref="trail">
			<img src="assets/img/7.jpg">
			<div class="card-divider" style="background:#872325; border-top: 1px solid white;">
				<img class="iconic-color-warning" zf-iconic="" icon="star" size="small" style="padding-right: 3px;"><strong>Logan Square</strong><span class="float-right">$638,000</span>
			</div>
			<div class="card-section" style="padding-top:0;">
				<h4 style="">Chicago, IL</h4>
				<div class="grid-content collapse small-12 medium-7">        
         			 <ul>
			            <li> 1 Bed</li>
			            <li> 1 Bath </li>
			            <li> 900 sqft</li>
			          </ul>
			    </div>
			</div>
		</div>  
  </div>
  <div class="grid-content medium-6">
		<div class="card secondary" style="background:#FFE8E9" ui-sref="trail">
			<img src="assets/img/8.jpg">
			<div class="card-divider" style="background:#872325; border-top: 1px solid white;">
				<img class="iconic-color-warning" zf-iconic="" icon="star" size="small" style="padding-right: 3px;"><strong>Lakeview</strong><span class="float-right">$739,000</span>
			</div>
			<div class="card-section" style="padding-top:0;">
				<h4 style="">Chicago, IL</h4>
				<div class="grid-content collapse small-12 medium-7">        
         			 <ul>
			            <li> 4 Bed</li>
			            <li> 2 Bath </li>
			            <li> 4,800 sqft</li>
			          </ul>
			    </div>
			</div>
		</div>  
  </div>
  <div class="grid-content medium-6">
		<div class="card secondary" style="background:#FFE8E9" ui-sref="trail">
			<img src="assets/img/9.jpg">
			<div class="card-divider" style="background:#872325; border-top: 1px solid white;">
				<img class="iconic-color-warning" zf-iconic="" icon="star" size="small" style="padding-right: 3px;"><strong>Wicker Park</strong><span class="float-right">$395,000</span>
			</div>
			<div class="card-section" style="padding-top:0;">
				<h4 style="">Chicago, IL</h4>
				<div class="grid-content collapse small-12 medium-7">        
         			 <ul>
			            <li> 1 Bed</li>
			            <li> 1 Bath </li>
			            <li> 800 sqft</li>
			          </ul>
			    </div>
			</div>
		</div>  
  </div>
  <div class="grid-content medium-6">
		<div class="card secondary" style="background:#FFE8E9" ui-sref="trail">
			<img src="assets/img/10.jpg">
			<div class="card-divider" style="background:#872325; border-top: 1px solid white;">
				<img class="iconic-color-warning" zf-iconic="" icon="star" size="small" style="padding-right: 3px;"><strong>River North</strong><span class="float-right">$935,000</span>
			</div>
			<div class="card-section" style="padding-top:0;">
				<h4 style="">Chicago, IL</h4>
				<div class="grid-content collapse small-12 medium-7">        
         			 <ul>
			            <li> 3.5 Bed</li>
			            <li> 2 Bath </li>
			            <li> 2370 sqft</li>
			          </ul>
			    </div>
			</div>
		</div>  
  </div>

</div>