---
name: trail
url: /trail
animationIn: slideInLeft
---

<div class="grid-block">
  <div class="grid-content">
  	<h1>2241 West Shakespeare Avenue</h1>
  	<hr>
  	<p>
  		<img class="show-for-medium" src="http://wibiti.com/images/hpmain/571/289571.jpg">
  	</p>
  	<p>
			Gorgeous 2008 complete rehab duplex-down is located on quiet Bucktown tree lined street. Walk into a spacious and open floor plan which boasts bamboo flrs., a beautiful kitchen w/quartz counters, cstm european cabinetry Jenn-Air appliances & breakfast bar seating. Additional built-in cabinetry; perfect as office space. Master suite has wic & steam shwr w/body sprays. Excellent outdoor patio space & 1 garage spot included.
  	</p>

    <div zf-action-sheet="">
      <div zf-as-button="" title="Share Home"></div>
      <div zf-as-content="" position="bottom">
        <ul>
          <li><a href="https://twitter.com/?lang=en">Twitter</a></li>
          <li><a href="https://facebook.com/?lang=en">Facebook</a></li>
          <li><a href="mailto:paul@truepad.com">Mail</a></li>
        </ul>
      </div>
    </div>

  	<ul class="no-bullet trail-details">
  		<li><strong>Location:</strong> Chicago, IL</li>
   		<li><strong>Length:</strong> 3,250 sqft</li>
   		<li><strong>Activities: </strong>Garage Spot, New Appliances, Rooftop View</li>
      <li>
        <strong>Rating:</strong> 
        <img zf-iconic="" icon="star" size="small" class="iconic-color-warning">
        <img zf-iconic="" icon="star" size="small" class="iconic-color-warning">
        <img zf-iconic="" icon="star" size="small" class="iconic-color-warning">
        <img zf-iconic="" icon="star" size="small" class="iconic-color-secondary">
      </li>
  	</ul>

  	<h3 class="float-left">Home Reviews</h3>
    <a class="button medium success float-right" href="#" zf-open="reviewForm"><img zf-iconic="" icon="comment-square" size="small"> Add Review</a>
  	<hr>

		<div class="card">
			<div class="card-divider">
				Review by <strong>Scott B.</strong><ul class="no-bullet">
      <li class="no-bullet"
        <strong>Rating:</strong> 
        <img zf-iconic="" icon="star" size="small" class="iconic-color-warning">
        <img zf-iconic="" icon="star" size="small" class="iconic-color-warning">
        <img zf-iconic="" icon="star" size="small" class="iconic-color-warning">
        <img zf-iconic="" icon="star" size="small" class="iconic-color-warning">
        <img zf-iconic="" icon="star" size="small" class="iconic-color-warning">
      </li></ul>
			</div>
			<div class="card-section">
				<p>This was the deferential the best apt show to my wife and I by our trusted True Agent. She did her homework and made this purchase a no brain. I highly recommend Truepad as a trusted source and our wonderful agent Melissa !</p>
			</div>
		</div>

  </div>
</div>

<!-- include review form modal -->
<div ng-include="'partials/add-review.html'"></div>






